/* ==========================================================================
   #BASIC ROW / PARTIAL
   ========================================================================== */

.basic-row {
    position: relative;
}

.basic-row__wrapper {
    @include bp(large) {
        justify-content: flex-end;
    }
}

.basic-row__container {
    width: 100%;
    padding: 50px 40px;
    align-items: center;
    order: 0;

    @include bp(medium) {
        padding: 70px 55px;
    }

    @include bp(large) {
        padding: 170px 90px 90px 90px;
        width: 50%;
        order: 2;
    }
}

.basic-row__content {
    max-width: 320px;
    margin-bottom: 50px;

    @include bp(medium) {
        max-width: 460px;
    }

    &:last-child {
        margin: 0;
    }
}

.basic-row__image {
    width: 100%;
    height: 350px;
    order: 2;

    @include bp(large) {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        order: 0;
    }
}

.basic-row__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}