/* ==========================================================================
   #CONTACT FORM / PARTIAL
   ========================================================================== */

.contact-form {
    background-color: $cbg-blue-5;
    justify-content: center;

    @include bp(large) {
        justify-content: flex-end
    }

    .wpforms-container {
        width: 460px;
        max-width: 100%;
    }
}

.contact-form__image {
    width: 100%;
    max-width: 400px;
    height: 400px;

    @include bp(large) {
        position: absolute;
        left: 0;
        top: 0;
        width: 47%;
        height: 100%;
        max-width: unset;
    }
}

.contact-form__container {
    width: 100%;
    justify-content: center;
    padding: 50px 40px;

    @include bp(medium) {
        padding: 70px 40px;
    }

    @include bp(large) {
        justify-content: flex-end;
        padding: 60px 70px 120px;
        width: 53%;
    }
}

.contact-form__title {
    margin-bottom: 30px;
}

.contact-form__text {
    margin-bottom: 30px;
    max-width: 450px;
}

.contact-form__signature {
    width: 100%;
    margin-bottom: 30px;
    line-height: 0.8;
}

.contact-form__form {
    max-width: 100%;
}

.contact-form__body {
    width: 460px;
    max-width: 100%;
}