/* ==========================================================================
   #CUSTOM TEXT / PARTIAL
   ========================================================================== */

.custom-text {
    padding: 50px 0 50px; 
    
    @include bp(medium) {
        padding: 90px 0 70px; 
    }
}

.custom-text__title {
    margin-bottom: 30px;

    @include bp(medium) {
        margin-bottom: 40px;
    }

    @include bp(large) {
        margin-bottom: 50px;
    }
}

.custom-text__text {
    max-width: 760px; 

    h3, h4, h5, h6 {
        margin: 25px 0 10px;
    }
}

// Modifiers
.custom-text--title-margin-lg {
    .custom-text__title {
        margin-bottom: 70px;
    }
}