/* ==========================================================================
   #FULL IMAGE TEXT / PARTIAL
   ========================================================================== */

.full-image {
    min-height: 380px;
    padding: 40px 0 0;

    @include bp(medium) {
        min-height: 500px;
        margin: 0;
    }

    @include bp(large) {
        min-height: 600px;
        padding: 70px 0;
    }
}

.full-image__bg {
    width: 100%;
    height: 300px;

    @include bp(medium) {
        height: 400px;
    }

    @include bp(large) {
        position: absolute;
        width: 45%;
        height: 85%;
        bottom: 0;
        right: 0;
    }
}

.full-image__img {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.full-image__container {
    justify-content: center;
    padding-bottom: 40px;

    @include bp(medium) {
        padding-bottom: 50px;
    }

    @include bp(large) {
        justify-content: flex-start;
        padding-bottom: 0;
    }
}

.full-image__content {
    width: 100%;

    @include bp(large) {
        max-width: 55%; 
    }

    *:last-child {
        margin-bottom: 0;
    }
}

.full-image__title {
    margin-bottom: 30px;

    @include bp(large) {
        margin-bottom: 50px;
    }
}

.full-image__subtitle {
    margin-bottom: 40px;
}

// Modifiers
.full-image--invert {
    .full-image__bg {
        left: 0;
        right: auto;
    }

    .full-image__container {
        @include bp(large) {
            justify-content: flex-end;
        }
    }
}

.full-image--title-mobile-lg {
    .full-image__title {
        @extend .heading-about;
    }
}

.full-image--sub-desktop-lg {
    .full-image__subtitle {
        @extend .heading-full;
    }
}