/* ==========================================================================
   #GLOWING BANNER / PARTIAL
   ========================================================================== */

.glowing-banner {
    background: radial-gradient(at center center, $cbg-blue-2 15%, $cbg-blue 100%);
    padding: 50px 0;
}

.glowing-banner__container {
    *:last-child {
        margin: 0;
    }
}

.glowing-banner__title {
    margin-bottom: 30px;
}

.glowing-banner__word {
    display: inline-block;
    padding: 0 10px;
} 

.glowing-banner__letter {
    display: inline-block;
    letter-spacing: -0.3rem;
}
