/* ==========================================================================
   #HEAVY CONTENT / PARTIAL
   ========================================================================== */

.heavy-content {
    padding: 50px 0;

    @include bp(medium) {
        padding: 70px 0;
    }

    @include bp(large) {
        padding: 100px 0;
    }
}

.heavy-content__container {
    *:last-child {
        margin-bottom: 0;
    }
}

.heavy-content__handwriting {
    margin-bottom: 15px;
    line-height: 0.9;

    @include bp(medium) {
        line-height: 1.1;
    }
}

.heavy-content__subtitle {
    margin-bottom: 40px;
}

.heavy-content__copy {
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}