/* ==========================================================================
   #HERO BANNER / PARTIAL
   ========================================================================== */

.hero-banner__wrapper {
    padding: 100px 0 130px;

    @include bp(large) {
        padding: 200px 0 190px;
    }
}

.hero-banner__dark {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $cbg-black;
    opacity: 0.6;
}

.hero-banner__bg {
    top: 0;
    left: 0;
}

.hero-banner__container {
    text-shadow: 0 0 0.4px $ct-white, 0 0 0.4px $ct-white;
    *:last-child {
        margin-bottom: 0;
    }
}

.hero-banner__title {
    margin-bottom: 10px;
}

// Modifiers
.hero-banner--large-height {
    .hero-banner__wrapper {
        padding: 120px 0 130px;

        @include bp(large) {
            padding: 220px 0 190px;
        }
    }
}

.hero-banner--text-top {
    .hero-banner__wrapper {
        @include bp(large) {
            padding: 60px 0 355px 0;
        }
    }
}