/* ==========================================================================
   #SCRIPT BANNER / PARTIAL
   ========================================================================== */

.script-banner__wrapper {
    padding: 145px 0;

    @include bp(large) {
        padding: 260px 0;
    }
}

.script-banner__dark {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $cbg-black;
    opacity: 0.6;
}

.script-banner__bg {
    position: absolute;
    top: 0;
    left: 0;
}

.script-banner__container {
    text-shadow: 0 0 0.4px $ct-blue, 0 0 0.4px $ct-blue;
    *:last-child {
        margin-bottom: 0;
    }

    @include bp(small) {
        padding: 0 20px;
    }

    @include bp(medium) {
        padding: 0;
    }
}

.script-banner__title {
    margin-bottom: 10px;
    line-height: 1;
}

// Modifiers
.script-banner--text-bottom {
    .script-banner__wrapper {
        @include bp(large) {
            padding: 360px 0 160px 0;
        }
    }
}