/* ==========================================================================
   #SCRIPT BANNER / PARTIAL
   ========================================================================== */

.script-banner {
    overflow: hidden;
}

.script-banner__wrapper {
    padding: 145px 0;

    @include bp(large) {
        padding: 260px 0;
    }

    @include bp(xfull) {
        padding-top: calc(260px + 4vw);
        padding-bottom: calc(260px + 4vw);
    }
}

.script-banner__dark {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $cbg-black;
    opacity: 0.6;
}

.script-banner__bg {
    top: 0;
    left: 0;
}

.script-banner__container {
    *:last-child {
        margin-bottom: 0;
    }

    @include bp(small) {
        padding: 0 20px;
    }

    @include bp(medium) {
        padding: 0;
    }
}

.script-banner__title {
    margin-bottom: 10px;
    line-height: 1;
}

// Modifiers
.script-banner--text-bottom {
    .script-banner__wrapper {
        @include bp(large) {
            padding: 360px 0 160px 0;
        }

        @include bp(xfull) {
            padding-top: calc(360px + 4vw);
            padding-bottom: calc(160px + 4vw);
        }
    }
}