/* ==========================================================================
   #SINGLE VIDEO / PARTIAL
   ========================================================================== */

.single-video { 
    background-color: $cbg-blue-2;
    padding: 50px 0;

    @include bp(large) {
        padding: 50px 0 90px 0;
    }
}

.single-video__container {
    *:last-child {
        margin-bottom: 0;
    }
}

.single-video__title {
    margin-bottom: 30px;

    @include bp(medium) {
        margin-bottom: 40px;
    }

    @include bp(large) {
        margin-bottom: 50px;
    }
}