/* ==========================================================================
   #TESTIMONIAL BOX / PARTIAL
   ========================================================================== */

.testimonial-box {
    background-color: $cbg-blue-5;
    padding: 50px 0;

    @include bp(medium) {
        padding: 70px 0;
    }
}

.testimonial-box__container {
    background-color: $cbg-white;
    border: 1px solid $cb-blue-2;
    padding: 50px;
}

.testimonial-box__image {
    width: 100%;

    @include bp(large) {
        width: 27%;
    }
}

.testimonial-box__img {
    max-width: 100%;
    max-height: 300px;
    border-radius: $global-radius;
    margin: 0 auto;

    @include bp(medium) {
        max-height: 400px;
    }

    @include bp(large) {
        max-height: none;
    }
}

.testimonial-box__content {
    width: 100%;
    padding-top: 35px;

    @include bp(large) {
        padding-top: 0;
        padding-left: 55px;
        width: 73%; 
    }
}


.testimonial-box__text {
    margin-bottom: 10px;
}