/* ==========================================================================
   #VIDEO ROW / PARTIAL
   ========================================================================== */

.video-row { 
    padding-top: 50px;
    margin-bottom: 50px;

    @include bp(medium) {
        padding-top: 50px;
        margin-bottom: 70px;
    }

    @include bp(large) {
        padding-top: 50px;
        margin-bottom: 100px;
    }
}

.video-row__title {
    margin-bottom: 30px;

    @include bp(medium) {
        margin-bottom: 40px;
    }

    @include bp(large) {
    margin-bottom: 50px;
    }
}

.video-row__row {
    margin-bottom: -35px;

    @include bp(medium) {
        margin: -20px;
    }
}

.video-row__video {
    width: 100%;
    margin-bottom: 35px;
    
    @include bp(medium) {
        width: calc(50% - 40px);
        margin: 20px;
    }
}