/* ==========================================================================
   #ARTICLES / TEMPLATE
   ========================================================================== */

.s-articles {
    padding: 150px 0 50px;

    @include bp(medium) {
        padding: 190px 0 70px; 
    }
}

.s-articles__container {
    margin-bottom: 36px;
}

.s-articles__article {
    width: 100%;
    height: auto;
    margin-bottom: 70px;

    @include bp-down(medium) {
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include bp(medium) {
        margin: 15px;
        width: calc(50% - 30px);
    }

    @include bp(large) {
        margin: 10px;
        width: calc(33.33% - 20px);
    }
}

.s-articles__title {
    text-align: center;
    margin-bottom: 50px;

    @include bp(large) {
        margin-bottom: 80px;
    }
}

.s-articles__wrapper,
.s-articles__card {
    height: 100%;
}

.s-articles__img {
    display: block;
    width: 100%;
    height: auto;
}

.s-articles__content {
    flex: 1;
    padding: 35px;
    background-color: $cbg-gray-3;
}

.s-articles__content__title {
    margin-bottom: 15px;
}

.s-articles__author {
    margin-bottom: 20px;
}

.s-articles__author__name {
    @include bp(xlarge) {
        &:hover {
            text-decoration: underline;
        }
    }
}

.s-articles__text {
    margin-bottom: 38px;

    p {
        &:last-child {
            margin: 0;
        }
    }
}

.s-articles__btn {
    margin-top: auto;
}

.s-articles__pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -3px;
    
    .page-numbers {
        display: block;
        border: 1px solid $cb-gold;
        color: $ct-gold;
        font-size: 1.4rem; 
        line-height: 1.55;
        padding: 10px 13px;
        margin: 3px;
        transition: $global-transition;

        @include bp(xlarge) {
            &:hover:not(.dots) {
                background-color: $cb-gold;
                color: $ct-white;
            }
        }

        &.current {
            background-color: $cb-gold;
            color: $ct-white;
        }
    }
}