/* ==========================================================================
   #ARTICLES / TEMPLATE
   ========================================================================== */

.s-articles {
    padding: 50px 0 50px;

    @include bp(medium) {
        padding: 90px 0 70px; 
    }
}

.s-articles__container {
    margin-bottom: 40px;
}

.s-articles__row {
    margin: -40px;

    @include bp(medium) {
        margin: -25px;
    }

    @include bp(large) {
        margin: -15px;
    }
}

.s-articles__article {
    width: calc(100% - 40px);
    height: auto;
    margin: 40px;
    box-shadow: 0 10px 40px rgb(82, 109, 122, 0.1);
    transition: $global-transition;
    transform: translateY(0);

    @include bp(medium) {
        margin: 25px;
        width: calc(50% - 50px);
    }

    @include bp(large) {
        margin: 15px;
        width: calc(50% - 30px);

        &:hover {
            box-shadow: 0 30px 130px rgb(82, 109, 122, 0.24);
            transform: translateY(-10px);

            .s-articles__dark {
                opacity: 0;
            }

            .s-articles__btn {
                opacity: 1;
            }

            .s-articles__btn__arrow {
                transform: translateX(6px);
            }
        }
    }

    @include bp(xlarge) {
        width: calc(33.33% - 30px);
    }
}

.s-articles__title {
    text-align: center;
    margin-bottom: 50px;

    @include bp(medium) {
        margin-bottom: 90px;
    }
}

.s-articles__card {
    height: 100%;
    background-color: $cbg-white;
    border-radius: $box-radius;
}

.s-articles__image {
    position: relative;
    border-radius: $box-radius;
    overflow: hidden;
}

.s-articles__dark {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $cbg-black;
    transition: $global-transition;
    opacity: 0.4;
    z-index: 100;
}

.s-articles__img {
    display: block;
    width: 100%;
    height: 215px;
    object-fit: cover;
}

.s-articles__content {
    flex: 1;
    padding: 25px 35px 35px;
}

.s-articles__date {
    margin-bottom: 12px;
}

.s-articles__content__title {
    margin-bottom: 10px;
}

.s-articles__text {
    p {
        &:last-child {
            margin: 0;
        }
    }
}

.s-articles__btn {
    margin: auto 0 0 auto;
    font-size: 14px;
    font-family: $heading-semibold;
    text-transform: uppercase;
    letter-spacing: .07em; 
    background-color: $cbg-blue-8;
    transition: $global-transition;
    padding: 14px 25px;
    border-radius: 5px 0 5px;
    opacity: 0;
}

.s-articles__btn__arrow {
    margin-left: 12px;
    transform: translateX(0);
    margin-bottom: -5px;
    transition: $global-transition;
}

.s-articles__pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -3px;
    
    .page-numbers {
        display: block;
        color: $ct-blue-7;
        font-size: 1.3rem;  
        line-height: 1;
        border-radius: 3px;
        padding: 15px 18px;
        margin: 5px;
        transition: $global-transition;
        
        @include bp(large) {
            &:hover:not(.dots) {
                background-color: $cbg-blue-9;
                color: $ct-blue;
            }
        }

        &.current {
            background-color: $cbg-blue-9;
            color: $ct-blue;
        }
    }
}