/* ==========================================================================
   #BOOKING SECTION / TEMPLATE
   ========================================================================== */

.booking-section {
    padding: 50px 0 50px; 
    
    @include bp(medium) {
        padding: 90px 0 70px; 
    }
} 

.booking-section__container {
    margin: 0 -20px;
    
    @include bp(large) {
        margin: 0;
    }
}