/* ==========================================================================
   #BOOKING SECTION / TEMPLATE
   ========================================================================== */

.booking-section {
    padding: 150px 0 50px; 
    
    @include bp(medium) {
        padding: 190px 0 70px; 
    }

    .cpp_form { 
        #fbuilder {
            .booking-main {
                margin-bottom: 30px;
            }

            label {
                @extend .f-text-bold;

                display: block;
                margin-bottom: 8px;
            }

            input,
            select {
                min-height: 56px;
                border: 1px solid transparent; 
                background-color: $cbg-blue-5;
                padding: 8px;
                font-size: 19px;
                border-radius: 0;
            }

            input:focus,
            select:focus {
                border: 1px solid $cb-blue;
                outline: 0;
            }
    
            .fieldCalendarService {
                margin-bottom: 50px;
            }
    
            select {
                padding: 10px;
                padding-right: 20px;
            }

            .ui-datepicker {
                z-index: auto !important;
                box-shadow: none;
                font-size: 1.6rem;
                box-shadow: 10px 10px 20px 0px rgba(239, 236, 236, 1);
                @extend .f-text-bold;

                th {
                    padding: 10px 0;
                }

                td {
                    @extend .f-text;

                    a, span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 45px;
                    }
                }
            }
    
            .ui-datepicker-inline {
                max-width: none;
                border: 1px solid $cb-black;
            }

            .ui-datepicker-header {
                padding: 5px 0;
                background: $cbg-blue-2; 
                text-shadow: none;
            }

            .ui-datepicker-calendar {
                .ui-state-active {
                    background: $cbg-blue-2;
                    text-shadow: none;
                }
            }

            .slotsCalendar {
                padding: 50px 0 20px;
                margin-bottom: 20px;
            }

            .slots {
                padding: 30px 20px;
                background-color: $cbg-blue-5;
                box-shadow: none;
                border: none;

                br {
                   display: none;
                }

                span {
                    display: block;
                    height: 30px !important;
                    width: 100% !important;
                    margin-left: 10px !important;
                    margin-bottom: 10px !important;
                    opacity: 1 !important;
                    transition: $global-transition;
                    @extend .f-text-bold;

                    @include bp(small) {
                        margin-bottom: 0;
                    }
                }

                .availableslot {
                    a {
                        background-color: $cbg-blue-2;
                    } 
                }

                .choosen {
                    a {
                        background-color: $cbg-blue;
                    }
                }

                .availableslot,
                .choosen {
                    width: 100%;
                    min-height: 40px;
                    margin: 0;
                    margin-bottom: 20px;
                    border: none;
                    padding: 0;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $ct-white;
                        padding: 12px 12px;
                        font-size: 1.8rem;
                        line-height: 1;
                        border: none;
                        position: relative;
                        text-align: center;
                        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
                        cursor: pointer;
                    
                        @include bp(xlarge) {
                            &:hover {
                                background-color: $cbg-blue;
                                color: $ct-white;
                                text-decoration: none;
                            }
                        }
                    }

                    @include bp(small) {
                        width: calc(50% - 20px);
                        margin: 10px;
                    }
                    
                    @include bp(medium) {
                        width: calc(25% - 20px);
                    }

                    @include bp(large) {
                        width: calc(20% - 20px);
                    }
                }

            }
            
            .usedSlots {
                display: flex;
                flex-direction: column;
                background-color: $cbg-blue-5; 
                padding: 30px;
                margin-bottom: 10px;  
                
                .cancel {
                    color: $ct-red-2;
                }  
            }

            .booking-email {
                margin-bottom: 30px;
            }

            .ahb_list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 15px 0;
                border-bottom: 1px solid $cbg-blue-3;

                @include bp(medium) {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            .ahb_list_time {
                margin-bottom: 10px;
            }

            .ahb_list_service {
                margin-bottom: 10px;
                padding: 5px 10px;
                background-color: $cbg-white;
                border-radius: $global-radius;
            }

            .ahb_list_time,
            .ahb_list_service {
                margin-bottom: 10px;

                @include bp(medium) {
                    margin-bottom: 0;
                }
            }

            .cff-checkbox-field {
                label {
                    display: flex;
                    align-items: center;
                }

                input {
                    width: 20px;
                    height: 20px;
                }

                span {
                    margin-left: 10px;
                    
                    a {
                        @extend .link-blue;
                    }
                    
                    .r {
                        margin-left: 5px;
                    }
                }
            }

            .cpefb_error {
                border: 1px solid $cb-orange;
            }

            .r {
                margin-left: 5px;
                color: $ct-red-2;
            }

            .pbSubmit {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: $cbg-blue-2;
                border: 0;
                border-radius: $btn-radius;
                color: $ct-white;
                font-size: 1.8rem;
                font-family: $heading-semibold;
                line-height: 1;
                text-align: center;
                max-width: 480px;
                min-height: 40px;
                overflow: hidden;
                padding: 10px 20px;
                transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
                cursor: pointer;

                &:hover {
                    background-color: $cbg-blue;
                    color: $ct-white;
                }
            }

            .totalCost {
                margin-top: 15px;
                font-size: 2.4rem;
                @extend .f-heading;

                .n {
                    @extend .f-heading-xbold;
                }
            }
        }
    } 
}