/* ==========================================================================
   #BOOKING SECTION / TEMPLATE
   ========================================================================== */

.booking-section {
    padding-bottom: 50px; 
    
    @include bp(medium) {
        padding-bottom: 70px; 
    }
} 

.booking-section__wrapper {
    height: 800px;

    @include bp(medium) {
        height: 840px;
    }

    @include bp(large) {
        height: 730px;  
    }  
}