/* ==========================================================================
   #BOOKING SECTION / TEMPLATE
   ========================================================================== */

.error-page {
    padding-top: 102px;
    height: 100vh;
    background-color: $cbg-blue-5;
}

.error-page__container {
    padding-bottom: 102px;
}

.error-page__code {
    margin-bottom: 10px;
}

.error-page__header {
    margin-bottom: 30px;
}