/* ==========================================================================
   #IMAGE POSITIONS
   ========================================================================== */

.p-image-center {
    object-position: 50% 50% !important;
}

.p-image-top {
    object-position: center top !important;
}

.p-image-bottom {
    object-position: center bottom !important;
}