/* ==========================================================================
   #CUSTOM TEXT / PARTIAL
   ========================================================================== */

.custom-text {
    padding: 100px 0 50px;

    @include bp(medium) {
        padding: 190px 0 70px; 
    }
}

.custom-text__title {
    margin-bottom: 40px;
}

.custom-text__text {
    max-width: 760px; 
    
    p {
        margin-bottom: 10px;

        &:last-child {
            margin: 0;
        }
    }

    h3,
    h4 {
        margin: 25px 0 10px;
    }
}

// Modifiers
.custom-text--title-margin-lg {
    .custom-text__title {
        margin-bottom: 70px;
    }
}