/* ==========================================================================
   #FIFTY FIFTY / PARTIAL
   ========================================================================== */

.fifty {
    min-height: 1270px;
    background-color: $cbg-gray-2;
}

.fifty__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 20px 0;
    z-index: $z-lvl-1;

    @include bp(large) {
        position: static;
        text-align: center;
        align-self: flex-start;
    }
}

.fifty__container {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 50px;
    flex: 1;

    @include bp(medium) {
        padding: 90px 55px 40px 55px;
    }

    @include bp(large) {
        width: 50%;
        padding: 90px;
    }
}

.fifty__content {
    max-width: 460px;

    *:last-child {
        margin-bottom: 0;
    }
}

.fifty__text {
    margin-bottom: 50px;

    p {
        margin-bottom: 10px;

        &:last-child {
            margin: 0;
        }
    }
}

.fifty__image {
    width: 100%;

    @include bp(large) {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
    }
}

.fifty__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}