/* ==========================================================================
   #SINGLE VIDEO / PARTIAL
   ========================================================================== */

.single-video { 
    background-color: $cbg-blue-2;
    padding: 50px 0 90px 0;
}

.single-video__container {
    *:last-child {
        margin-bottom: 0;
    }
}

.single-video__title {
    margin-bottom: 10px;
}

.single-video__video {
    padding-top: 40px;
}