/* ==========================================================================
   #WAVE SECTION / PARTIAL
   ========================================================================== */

.wave-section {
    justify-content: center;
}

.wave-section__wrapper {
    @include bp(large) {
        justify-content: flex-end;
        align-items: center;
    }
}

.wave-section__container {
    width: 100%;
    justify-content: center;
    padding: 40px 40px 50px;

    @include bp(medium) {
        padding: 40px;
    }

    @include bp(large) {
        padding: 90px;
        width: 50%;
    }
}

.wave-section__content {
    max-width: 460px;

    *:last-child {
        margin-bottom: 0;
    }
}

.wave-section__text {
    margin-bottom: 50px;

    p {
        margin-bottom: 10px;

        &:last-child {
            margin: 0;
        }
    }
}

.wave-section__title {
    margin-bottom: 50px;
}

.wave-section__image {
    width: 100%;
    border-top-right-radius: 1000px;
    overflow: hidden;
    margin-right: 100px;
    height: 400px;
    margin-top: -100px;

    @include bp(large) {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: calc(100% + 100px);
        margin-right: 0;
    }
}

.wave-section__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

// Modifiers

.wave-section--invert {
    .wave-section__wrapper {
        @include bp(large) {
            justify-content: flex-start;
            align-items: center;
        }
    }

    .wave-section__image {
        order: 2;
        border-top-right-radius: 0;
        border-top-left-radius: 1000px;
        margin-right: 0;
        margin-left: 100px;
        margin-top: 0;

        @include bp(large) {
            right: 0;
            left: auto;
            margin-left: 0;
            margin-top: -100px;
        }
    }

    .wave-section__container {
        @include bp(large) {
            justify-content: center;
        }
    }
}

.wave-section--mobile-centered,
.wave-section--m-centered-narrow {
    .wave-section__image {
        margin-left: 0;
        margin-right: 0;
        max-width: 400px;

        @include bp(large) {
            max-width: none;
        }
    }
}

.wave-section--m-centered-narrow {
    &.wave-section--invert {
        .wave-section__image {
            margin-left: 100px;
        }
    }

    .wave-section__image {
        margin-right: 100px;
        max-width: 300px;

        @include bp(medium) {
            max-width: 400px;
        }

        @include bp(large) {
            max-width: none;
        }
    }
}

.wave-section--mobile-narrow {
    .wave-section__content {
        max-width: 320px;

        @include bp(medium) {
            max-width: 460px;
        }
    }
}