/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.u-btn {
   display: inline-block;
   color: $ct-white;
   padding: 12px 12px;
   font-size: 1.8rem;
   line-height: 1.2;
   background: $cbg-gold;
   border: none;
   position: relative;
   text-align: center;
   cursor: pointer;

   @include bp(medium) {
         padding: 12px 24px;
         font-size: 2rem;
   }

   @include bp(xlarge) {
      &:hover {
         background-color: $cbg-blue;
      }
   }
}

.u-btn--submit {
   @extend .u-btn;
   padding: 15px 30px;
   font-size: 1.7rem;
   line-height: 2;

   @include bp(xsmall) {
      line-height: 1.2;
   }

   @include bp(medium) {
      font-size: 1.8rem;
   }
}
