/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */


h1, h2, h3, h4, h5, h6, .heading-family {
    font-family: $heading-family;
    line-height: 1.2; 
    color: $ct;
    font-weight: normal;
}

.heading-banner { /* 51px ~ 46px */
    font-size: 4.6rem;

    @include bp(large) {
        font-size: 5.1rem;
    }
}

.heading-hero { /* 51px ~ 40px ~ 30px */
    font-size: 3rem;

    @include bp(medium) {
        font-size: 4rem;
    }

    @include bp(large) {
        font-size: 5.1rem;
    }
}

.heading-heavy-lg { /* 51px ~ 34px */
    font-size: 3.4rem;

    @include bp(medium) {
        font-size: 5.1rem;
    }
}

.heading-xlarge { /* 50px ~ 38px ~ 24px */
    font-size: 2.4rem;

    @include bp(medium) {
        font-size: 3.8rem;
    }

    @include bp(large) {
        font-size: 5rem;
    }
}

.heading-fifty { /* 38px ~ 40px ~ 30px */
    font-size: 3rem;

    @include bp(medium) {
        font-size: 4rem;
    }

    @include bp(large) {
        font-size: 3.8rem;
    }
}

.heading-basic { /* 38px ~ 32px ~ 24px */
    font-size: 2.4rem;

    @include bp(medium) {
        font-size: 3.2rem;
    }

    @include bp(large) {
        font-size: 3.8rem;
    }
}

.heading-heavy { /* 38px ~ 30px */
    font-size: 3rem;

    @include bp(large) {
        font-size: 3.8rem;
    }
}

.heading-large { /* 38px ~ 30px ~ 24px */
    font-size: 2.4rem;

    @include bp(medium) {
        font-size: 3rem;
    }

    @include bp(large) {
        font-size: 3.8rem;
    }
}

.heading-sub { /* 30px ~ 26px ~ 20px */
    font-size: 2rem;

    @include bp(medium) {
        font-size: 2.6rem;
    }

    @include bp(large) {
        font-size: 3rem;
    }
}

.text-medium { /* 24px */
    font-size: 2.4rem;
}

.text-normal { /* 19px */
    font-size: 1.9rem;

}

.text-sixteen { /* 16px */
    font-size: 1.6rem;
}

