/* ==========================================================================
   #TYPOGRAPHY & COLORS & FONT WEIGHTS & LINE HEIGHTS
   ========================================================================== */

/**
 * Font Colors
 */
.c-black {
    color: $ct;
}

.c-white {
    color: $c-white;
}

.c-blue {
    color: $c-blue-2;
}


/**
 * Font Weights
 */
.f-text {
    font-family: $text-family;
}

.f-text-bold {
    font-family: $text-bold;
}

.f-heading {
    font-family: $heading-family;
}

.f-script {
    font-family: $text-script;
}

/**
 * Line Heights
 */
.line-lg {
    line-height: 2.4;
}

.line-half {
    line-height: 1.5;
}

.line-reset {
    line-height: 1;
}

/**
 * Letter Spacing
 */
.ls-4 {
    letter-spacing: 4px;
}