/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.u-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $ct-white;
    padding: 12px 12px;
    font-size: 1.8rem;
    line-height: 1.2;
    background-color: $cbg-gold;
    border: none;
    position: relative;
    text-align: center;
    cursor: pointer;

    @include bp(medium) {
        padding: 12px 24px;
        font-size: 2rem;
    }

    @include bp(xlarge) {
        &:hover {
            background-color: $cbg-blue;
            color: $ct-white;
            text-decoration: none;
        }
    }
}

.u-btn--mobile-lg {
    @extend .u-btn;
    padding: 10px 15px;
}

.u-btn--nav {
    @extend .u-btn;
    padding: 10px 15px;
    font-size: 1.3rem;

    @include bp(xlarge) {
        font-size: 1.5rem; 
    }

	@include bp(full) {
		font-size: 1.8rem;
	}
}