/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.u-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $cbg-blue-7;
    border: 0;
    border-radius: $btn-radius;
    color: $ct-white;
    font-size: 1.6rem;
    font-family: $heading-semibold;
    line-height: 1;
    text-align: center;
    max-width: 480px;
    min-height: 40px;
    overflow: hidden;
    padding: 10px 20px;
    transition: $global-transition;
    cursor: pointer;

    &:hover {
        background-color: $cbg-blue-8;
        color: $ct-white;
    }
}

.u-btn--nav {
    @extend .u-btn;
    font-size: 1.3rem;

    @include bp(xlarge) {
        font-size: 1.5rem; 
    }

	@include bp(full) {
		font-size: 1.8rem;
	}
}