/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
    text-decoration: none;
    color: inherit;
}

p > a,
.link-brown {
    text-decoration: none;
    color: $ct-gold;

    @include bp(xlarge) {
        &:hover {
            color: $ct-blue;
            text-decoration: underline;
        }
    }
}
