/* ==========================================================================
   #LIST
   ========================================================================== */

.list-reset {
    list-style: none;
}

.list-basic {
    ul {
        padding-left: 40px;
        margin-bottom: 20px;
    }
}