/* ==========================================================================
   #TYPOGRAPHY & COLORS & FONT WEIGHTS & LINE HEIGHTS
   ========================================================================== */

/**
 * Font Colors
 */
.c-black {
    color: $ct-blue;
}

.c-white {
    color: $ct-white;
}

.c-blue {
    color: $ct-blue-2;
}

.c-gold {
    color: $ct-blue;
}


/**
 * Font Weights
 */
.f-text {
    font-family: $text-family;
}

.f-text-bold {
    font-family: $text-bold;
}

.f-heading {
    font-family: $heading-family;
}

.f-heading-sbold {
    font-family: $heading-semibold;
}

.f-heading-xbold {
    font-family: $heading-xbold;
}

.f-script {
    font-family: $text-script;
}

/**
 * Line Heights
 */
.line-lg {
    line-height: 2.4;
}

.line-medium {
    line-height: 1.4;
}

.line-normal {
    line-height: 1.2;
}

.line-reset {
    line-height: 1;
}

/**
 * Letter Spacing
 */
.ls-4 {
    letter-spacing: 4px;
}

/**
 * Inline text classes
 */
.l-script {
    font-family: $text-script;
    font-size: 1.5em;
    line-height: 0.5;
    vertical-align: 10%;
}

.l-script--large {
    @extend .l-script;
    font-size: 2em;
}