// ==========================================================================
// #GLOBAL
// ==========================================================================
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 15px !default;
$global-opacity: 0.4;
$global-transition: all 200ms linear !default;
$btn-radius: 30px;

/* Fonts
   ========================================================================== */

$proxima-regular: 'Proxima Nova Regular', Arial, sans-serif;
$proxima-semibold: 'Proxima Nova Semibold', Arial Bold, sans-serif;
$proxima-extrabld: 'Proxima Nova Extrabld', Arial Bold, sans-serif;
$open-regular: 'Open Sans Regular', Arial, sans-serif;
$open-bold : 'Open Sans Bold', Arial Bold, sans-serif;
$font-script : 'SquarePeg Regular', Arial, sans-serif;


/* Breakpoints
   ========================================================================== */

$breakpoints: (
    small: 480px,
    xsmall: 640px,
    medium: 768px,
    large: 1024px,
    xlarge: 1280px,
    full: 1600px,
    retina: 2500px,
);

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$c-white: #fff;
$c-black: #000;
$c-gray: #d7e0e4;
$c-blue: #2e487d; 
$c-blue-2: #4267B2;
$c-blue-3: #5e7884;
$c-blue-4: #719ece;
$c-blue-5: #ecf0f7;
$c-blue-6: #8ea4d1;
$c-red: #790000;
$c-red-2: #cf2e2e;
$c-orange: #FB995B;

// Text
$ct-blue: $c-blue;
$ct-black: $c-black;
$ct-white: $c-white;
$ct-blue: $c-blue;
$ct-blue-2: $c-blue-2; 
$ct-blue-6: $c-blue-6; 
$ct-red: $c-red;
$ct-red-2: $c-red-2;

// Background
$cbg-black: $c-black;
$cbg-blue: $c-blue;
$cbg-blue-2: $c-blue-2;
$cbg-blue-3: $c-blue-3;
$cbg-blue-5: $c-blue-5;
$cbg-white: $c-white;

// Borders
$cb-black: $c-black;
$cb-blue: $c-blue;
$cb-blue-2: $c-blue-2;
$cb-blue-4: $c-blue-4;
$cb-blue-5: $c-blue-5; 
$cb-gray: $c-gray;
$cb-orange: $c-orange;

// Z-Index
$z-lvl-1: 100;
$z-lvl-2: 200;
$z-lvl-3: 300;
$z-lvl-4: 400;

// Arrows

$black-arrow: 2px solid $cb-black; 

// Font Family
$text-family: $open-regular;
$text-bold: $open-bold;
$heading-family: $proxima-regular;
$heading-semibold: $proxima-semibold;
$heading-xbold: $proxima-extrabld;
$text-script: $font-script;