/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */
 
body:not(.has-scrollbar) {
    .wrapper-stretched {
        width: 100vw !important;
        margin-left: calc(-50vw + 50%) !important;
        margin-right: calc(-50vw + 50%) !important;
        left: 0 !important;
    }
}

body.has-scrollbar {
    .wrapper-stretched {
        width: calc(100vw - var(--scroll-bar)) !important;
        margin-left: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
        margin-right: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
    }
}

.wrapper-basic {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;

    @include bp(medium) {
        padding-left: 55px;
        padding-right: 55px;
    }

    @include bp(large) {
        padding-left: 90px;
        padding-right: 90px;
    }
}

.wrapper-full {
    max-width: 1280px;
    @extend .wrapper-basic;
}

.wrapper-carousel {
    max-width: 1204px;
    @extend .wrapper-basic;
}
