/* ==========================================================================
   #ABOUT COLUMN / BLOG SIDEBAR PARTIAL
   ========================================================================== */

.social-links {
    margin-bottom: 50px;
}

.social-links__row {
    margin-bottom: 25px;

    .social-links__row__description {
        line-height: 1.25;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include bp(large) {
        &:hover {
            .social-links__row__icon {
                background-color: $cbg-blue;
            }
        }
    }
}

.social-links__row__icon {
    width: 40px;
    height: 40px;
    background-color: $cbg-blue-2;

    svg {
        fill: $cbg-white;
    }
}

.social-links__row__description {
    flex: 1;
    margin-left: 20px;
}