/* ==========================================================================
   #BASIC BANNER / PARTIAL
   ========================================================================== */

.basic-banner {
    background-color: $cbg-blue-2;
    padding: 50px 0;
}

.basic-banner__container {
    z-index: $z-lvl-1;

    *:last-child {
        margin: 0;
    }
}

.basic-banner__text {
    margin: 0 0 15px 0;
}

// Modifiers
.basic-banner--narrow {
    .basic-banner__content {
        max-width: 760px;
    }
}