/* ==========================================================================
   #BASIC BANNER / PARTIAL
   ========================================================================== */

.basic-banner {
    background-color: $cbg-blue-2;
    padding: 50px 0;
}

.basic-banner__container {
    z-index: $z-lvl-1;

    *:last-child {
        margin: 0;
    }
}

.basic-banner__title {
    margin-bottom: 30px;
}

.basic-banner__text {
    margin-bottom: 15px;
}

// Modifiers
.basic-banner--narrow {
    .basic-banner__container {
        max-width: 760px;
    }
}

.basic-banner--blue-gradient {
    &.basic-banner {
        background-color: transparent;
        background: radial-gradient(at center center, $cbg-blue-2 15%, $cbg-blue 100%)
    }
}