/* ==========================================================================
   #BASIC BANNER / PARTIAL
   ========================================================================== */

.basic-banner {
    background-color: $cbg-blue-2;
    padding: 50px 0;
    margin-bottom: 200px;
}

.basic-banner__container {
    *:last-child {
        margin-bottom: 0;
    }
}

.basic-banner__text {
    margin-bottom: 15px;
}

// Modifiers
.basic-banner--narrow {
    .basic-banner__container {
        max-width: 760px;
    }
}