/* ==========================================================================
   #BASIC ROW / PARTIAL
   ========================================================================== */

.basic-row__wrapper {
    @include bp(large) {
        justify-content: flex-end;
    }
}

.basic-row__container {
    width: 100%;
    padding: 40px 40px 50px;
    align-items: center;
    order: 0;
    
    @include bp(medium) {
        padding: 40px;
    }

    @include bp(large) {
        padding: 170px 90px 90px 0;
        width: 50%;
        order: 2;
    }
}

.basic-row__content { 
    max-width: 320px;
    margin-bottom: 50px;

    @include bp(medium) {
        max-width: 460px;
    }

    &:last-child {
        margin: 0;
    }
}

.basic-row__text {
    p {
        margin: 0 0 10px 0;

        &:last-child {
            margin: 0;
        }
    }
}

.basic-row__image {
    width: 100%;
    order: 2;

    @include bp(large) {
        width: 50%;
        height: 100%;
        order: 0;
    }
}

.basic-row__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}