/* ==========================================================================
   #FIFTY FIFTY / PARTIAL
   ========================================================================== */

.fifty__container {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 50px;
    
    @include bp(medium) {
        padding: 40px 40px 40px 40px;
        width: 50%;
    }

    @include bp(large) {
        padding: 90px 70px 90px 70px;
    }
}

.fifty__content {
    max-width: 460px;

    *:last-child {
        margin-bottom: 0;
    }
}

.fifty__text {
    margin-bottom: 50px;

    p {
        margin: 0 0 10px 0;

        &:last-child {
            margin: 0;
        }
    }
}

.fifty__title { 
    margin-bottom: 50px;
}

.fifty__image {
    width: 100%;
    
    @include bp(medium) {
        width: 50%;
        height: 100%;
    }
}

.fifty__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

// Modifiers
.fifty--gray-bg {
    background-color: $cbg-gray-2;
}

.fifty--invert {
    .fifty__image {
        order: 2;
    }

    .fifty__container {
        order: 0;

        @include bp(medium) {
            padding: 40px 40px 40px 40px;
        }

        @include bp(large) {
            padding: 90px 70px 90px 70px;
        }
    }
}

.fifty--image-top {
    .fifty__image {
        @include bp-down(medium) {
            order: 0;
        }
    }

    .fifty__container {
        @include bp-down(medium) {
            order: 2; 
        } 
    }
}

.fifty--image-bottom {
    .fifty__image {
        @include bp-down(medium) {
            order: 2;
        }
    }

    .fifty__container {
        @include bp-down(medium) {
            order: 0; 
        } 
    }
}


.fifty--fixed-height {
    .fifty__image {
        height: 350px;
    
        @include bp(medium) {
            height: auto;
        }
    }
}
