/* ==========================================================================
   #FIFTY FIFTY / PARTIAL
   ========================================================================== */

.fifty {
    min-height: 1270px;
    background-color: $cbg-gray-2;
}

.fifty__title {
    z-index: $z-lvl-1;
    width: 100%;
    padding: 30px 20px 0;
    position: absolute;

    @include bp(medium) {
        position: static;
        text-align: center;
    }
}

.fifty__container {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 50px;
    
    @include bp(medium) {
        padding: 90px 40px 40px 40px;
        width: 50%;
    }

    @include bp(large) {
        padding: 90px;
    }
}

.fifty__content {
    padding: 20px 0;
    max-width: 460px;

    *:last-child {
        margin-bottom: 0;
    }
}

.fifty__text {
    margin-bottom: 50px;

    p {
        margin: 0 0 10px 0;

        &:last-child {
            margin: 0;
        }
    }
}

.fifty__title { 
    margin-bottom: 50px;
}

.fifty__image {
    width: 100%;
    
    @include bp(medium) {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
    }
}

.fifty__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}