/* ==========================================================================
   #FULL IMAGE TEXT / PARTIAL
   ========================================================================== */

.full-image {
    background-color: $cbg-gray;
    margin-bottom: 55px;
}

.full-image__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 55% 0;
    background-size: cover;
    background-attachment: scroll;

    @include bp(medium) {
        background-position: left bottom;
        background-size: contain;
    }
}

.full-image__wrapper {
    min-height: 480px;
    padding: 110px 0 40px;
    margin: 0 -20px;
    
    @include bp(medium) {
        min-height: 600px;
        padding: 130px 0 35px;
        margin: 0;
    }

    @include bp(large) {
        min-height: 700px;
        padding: 70px 0;
    }
}

.full-image__container {
    max-width: 60%;
    z-index: $z-lvl-1;
    padding-top: 30px;

    @include bp(medium) {
        max-width: 61%;
    }

    @include bp(large) {
        max-width: 59%;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

.full-image__title,
.full-image__subtitle {
    margin: 0 0 50px 0;
}