/* ==========================================================================
   #FULL IMAGE BANNER / PARTIAL
   ========================================================================== */

.full-banner {
    background-color: $cbg-gray;
    margin-bottom: 55px;
}

.full-banner__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 55% 0;
    background-size: cover;
    background-attachment: scroll;

    @include bp(medium) {
        background-position: left bottom;
        background-size: contain;
    }
}

.full-banner__wrapper {
    min-height: 480px;
    padding: 110px 0 40px;
    

    @include bp(medium) {
        min-height: 600px;
        padding: 130px 0 35px;
    }

    @include bp(large) {
        min-height: 700px;
        padding: 70px 0;
    }
}

.full-banner__container {
    max-width: 65%;
    z-index: $z-lvl-1;
    padding: 50px 0 0 20px;

    @include bp(medium) {
        max-width: 62%;
        padding: 50px 20px 0;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

.full-banner__title,
.full-banner__subtitle {
    margin: 0 0 50px 0;
}