/* ==========================================================================
   #HEAVY TEXT / PARTIAL
   ========================================================================== */

.heavy-text {
    padding: 30px 0;

    @include bp(medium) {
        padding: 45px 0;
    }

    @include bp(large) {
        padding: 80px 0 50px 0;
    }
}

.heavy-text__container {
    padding: 20px;
    z-index: $z-lvl-1;

    *:last-child {
        margin-bottom: 0;
    }
}

.heavy-text__title {
    margin-bottom: 50px;
}

.heavy-text__copy {
    max-width: 760px;
    margin: 0 auto;
    margin-bottom: 30px;

    p {
        margin: 0 0 10px 0;

        &:last-child {
            margin: 0;
        }
    }
}

.heavy-text__handwriting {
    padding: 30px 0;

    @include bp(medium) {
        padding-bottom: 10px;
    }
}

// Modifiers
.heavy-text--gray-bg {
    &.heavy-text {
        background-color: $cbg-gray-2;
    }
}

.heavy-text--align-center {
    .heavy-text__copy {
        text-align: center;
    }
}

.heavy-text--medium-title {
    .heavy-text__title {
        @extend .heading-heavy-two;
    }
}