.hero-banner__wrapper {
    min-height: 371px;
    padding: 110px 0 120px;

    @include bp(medium) {
        min-height: 416px;
    }

    @include bp(large) {
        min-height: 632px;
    }
}

.hero-banner__bg {
    position: absolute;
    top: 0;
    left: 0;
}

.hero-banner__container {
    z-index: $z-lvl-1;
    
    @include bp(small) {
        padding: 0 20px;
    }
}

.hero-banner__title {
    margin-bottom: 10px;
}