/* ==========================================================================
   #HERO BANNER / PARTIAL
   ========================================================================== */

.hero-banner__wrapper {
    min-height: 220px;
    padding: 100px 0 120px; 

    @include bp(large) {
        padding: 200px 0 190px; 
    }
}

.hero-banner__bg {
    position: absolute;
    top: 0;
    left: 0;
}

.hero-banner__container {
    z-index: $z-lvl-1;

    *:last-child {
        margin-bottom: 0;
    }
    
    @include bp(small) {
        padding: 0 20px;
    }
}

.hero-banner__title {
    margin-bottom: 10px;
}