/* ==========================================================================
   #INFO ROW / PARTIAL
   ========================================================================== */
   
.info-row {
    @include bp(medium) {
        min-height: 700px;
    }
}

.info-row__wrapper {
    @include bp(medium) {
        justify-content: flex-end;
    }
}

.info-row__container {
    width: 100%;
    padding: 40px 0 50px;
    justify-content: center;
    
    @include bp(medium) {
        padding: 40px 0 40px 40px;
        width: 50%;
        justify-content: flex-end;
    }

    @include bp(large) {
        padding: 90px 0 90px 70px;
    }
}

.info-row__content { 
    max-width: 460px;

    *:last-child {
        margin-bottom: 0;
    }
}

.info-row__text {
    margin-bottom: 50px;

    p {
        margin: 0 0 10px 0;

        &:last-child {
            margin: 0;
        }
    }
}

.info-row__title { 
    margin-bottom: 50px;
}

.info-row__image {
    width: 100%;
    height: 350px;
    
    @include bp(medium) {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
    }
}

.info-row__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}