/* ==========================================================================
   #STANDARD ROW / PARTIAL
   ========================================================================== */

.standard-row {
    justify-content: center;

    @include bp(medium) {
        justify-content: unset;
    }
}

.standard-row__wrapper {
    justify-content: center;
    
    @include bp(medium) {
        justify-content: flex-end;
    }
}

.standard-row__container {
    width: 100%;
    max-width: 400px;
    padding: 40px 0 50px;
    justify-content: center;
    
    @include bp(medium) {
        padding: 40px 0 40px 40px;
        width: 50%;
        justify-content: flex-end;
        max-width: none;
    }

    @include bp(large) {
        padding: 90px 0 90px 70px;
    }
}

.standard-row__content { 
    max-width: 460px;

    *:last-child {
        margin-bottom: 0;
    }
}

.standard-row__title { 
    margin-bottom: 50px;
} 

.standard-row__text {
    margin-bottom: 50px;

    p {
        margin: 0 0 10px 0;

        &:last-child {
            margin: 0;
        }
    }
}

.standard-row__image {
    height: 400px;
    max-width: 400px;
    padding-right: 100px;
    margin-top: -100px;
    
    @include bp(medium) {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        padding: 0;
        margin: 0;
        max-width: none;
    }
}

.standard-row__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}