/* ==========================================================================
   #TESTIMONIAL BOX / PARTIAL
   ========================================================================== */

.testimonial-box {
    background-color: $cbg-gray-2;
    padding: 70px 0;
}

.testimonial-box__container {
    background-color: $cbg-white;
    border: 1px solid $cb-blue-2;
}

.testimonial-box__image {
    width: 100%;

    @include bp(large) {
        width: 27%;
    }
}

.testimonial-box__img {
    max-width: 100%;
    height: auto;
}

.testimonial-box__content {
    width: 100%; 
    padding: 35px 20px;

    @include bp(medium) {
        padding: 55px;
    }

    @include bp(large) {
        padding: 55px;
        width: 73%; 
    }
}


.testimonial-box__text {
    margin-bottom: 10px;

    p {
        margin: 0 0 10px 0;
    
        &:last-child {
            margin: 0;
        }
    }
}