// ==========================================================================
// # FOOTER
// ==========================================================================

.u-footer__main {
    padding: 40px 0;
}

.u-footer__li {
    margin: 0 40px;
}

.u-footer__socials__li {
    width: 21px;
    height: 21px;
    margin: 0 15px;

    svg {
        max-width: 100%;
        max-height: 100%;
    }
}