// ==========================================================================
// # MENU MOBILE
// ==========================================================================

/* GENERAL
    ========================================================================== */
.m-menu {
    z-index: $z-lvl-4;
    display: none;
    overflow: hidden;
    box-shadow: 0 4px 8px -6px $cbg-blue-3;
    transform: translateY(-1px);
    border-top: 1px solid $cb-gray;
}

.m-menu__ul,
.m-menu__cta__wrapper {
    margin: 0 -20px;
    
    @include bp(medium) {
        margin: 0 -35px;
    }
}

.m-menu__cta__wrapper {
    padding: 0 20px;
}

.m-submenu__ul {
    display: none;
    padding: 5px 0 16px 14px;
    @include bp(medium) {
        padding: 5px 0 24px 16px;
    }
}

.m-menu__li {
    border-bottom: 1px solid $cb-gray;
    padding: 0 20px; 
}

.m-menu__link {
    padding: 10px 0 10px 0;
    font-size: 1.8rem;
}

.m-menu__link--active {
    .m-menu__li__arrow {
        transform: rotate(-45deg);
    }
}

.m-menu__li__arrow {
    width: 8px;
    height: 8px;
    transform: rotate(135deg);
    border-right: $black-arrow;
    border-top: $black-arrow; 
    transition: all 200ms linear;
    @include bp(medium) {
        right: 26px;
    }
}

.m-submenu__li {
    padding: 12px 0;
    font-size: 1.8rem;
}

.m-submenu__num {
    height: 32px;
    width: 32px;
    border-radius: 30px;
}

.m-submenu__text {
    padding-left: 14px;
    pointer-events: none;
}

.m-submenu__image {
    max-width: 32px;
    max-height: 32px;
}

.m-menu__btn {
    padding: 24px 0 32px 0;
}

/* BURGER
    ========================================================================== */
.menu-toggle__wrapper {
    width: 46px;
    @include bp(large) {
        display: none !important;
    }
}

#menu-toggle {
    width: 40px;
    height: 22px;
    .menu-span {
        transition: .15s ease-in-out;
    }
    @include bp(xlarge) {
        display: none;
    }
    #hamburger {
        .menu-span {
            width: 40px;
            height: 6px;
            position: relative;
            top: 0;
            left: 0;
            margin: 0 0 10px;
            &:nth-child(1) {
                transition-delay: .3s;
            }
            &:nth-child(2) {
                transition-delay: .425s;
            }
        }
    }

    #cross {
        left: -1px;
        top: -1px;
        transform: rotate(45deg);
        .menu-span {
            &:nth-child(1) {
                height: 0%;
                width: 6px;
                position: absolute;
                top: -26%;
                left: 20px;
                transition-delay: 0s;
            }
            &:nth-child(2) {
                width: 0%;
                height: 6px;
                position: absolute;
                left: 12%;
                top: 9px;
                transition-delay: .15s;
            }
        }
    }
}

#menu-toggle {
    &.menu-toggle--active {
        #hamburger {
            .menu-span {
                width: 0%;
                &:nth-child(1) {
                    transition-delay: 0s;
                }
                &:nth-child(2) {
                    transition-delay: .105s;
                }
            }
        }
        
        #cross {
            .menu-span {
                &:nth-child(1) {
                    height: 36px;
                    transition-delay: .425s;
                }
            }
            .menu-span {
                &:nth-child(2) {
                    width: 36px;
                    transition-delay: .175s;
                }
            }
        }
    }
}