// ==========================================================================
// # NEWSLETTER MESSAGES
// ==========================================================================

.newsletter-message {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 260px);
} 

.newsletter-message__container {
    border: none;
    background: $cbg-blue-2;
    padding: 40px;
    border-radius: $global-radius;
    text-align: center;

    h1 {
        color: $ct-white;
        margin-bottom: 20px;
    }

    p {
        color: $ct-white;
    }
}

