// ==========================================================================
// # ARTICLE CONTENT
// ==========================================================================

.single-article {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 90px;
    padding-left: 20px;
}

.single-article__content {
    width: 65%;

    h2 {
        margin: 20px 0 10px 0;
    }

    p {
        margin-bottom: 10px;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

// Sidebar
.single-article__sidebar {
    width: calc(35% - 55px);
    margin-left: 55px;
}

// Sidebar (About Column)
.about-column {
    margin-top: 70px;
}

.about-column__bg {
    bottom: 0;
    left: 0;
    background-color: $cbg-gray-2;
    height: calc(100% - 50px);
}

.about-column__container {
    z-index: $z-lvl-1;
}

.about-column__image {
    padding: 0 50px 40px;
    margin-top: -50px;
}

.about-column__content {
    padding: 0 20px 20px;
}

.about-column__text {
    margin-bottom: 40px;
}