// ==========================================================================
// # TABLE OF CONTENTS
// ==========================================================================

#ez-toc-container {
    background-color: $cbg-blue-5;
    border: 1px solid $cb-blue-2;

    a {
        color: $ct-blue;

        &:visited {
            color: $ct-blue-6;
        }
    }
}

.ez-toc-title-container {
    font-family: $heading-family;
    font-size: 2.1rem;
}