/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/* Flexbox
   ========================================================================== */
.d-flex {
    display: flex;
}

.d-flex-wrap {
    flex-wrap: wrap;
}

.d-flex-center {
    justify-content: center;
    align-items: center;
}

.d-flex-justify-c {
    justify-content: center;
}

.d-flex-justify-e {
    justify-content: flex-end;
}

.d-flex-justify-s {
    justify-content: space-between;
}

.d-flex-justify-sa {
    justify-content: space-around;
}

.d-flex-column {
    flex-direction: column;
}

.d-flex-align-st {
    align-items: flex-start;
}

.d-flex-align-c {
    align-items: center;
}

.d-flex-align-e {
    align-items: flex-end;
}

.d-flex-grow {
    flex-grow: 1;
}

.d-flex-direction-c {
    flex-direction: column;
}

/* Display + Position
   ========================================================================== */
.d-block {
    display: block;
}

.d-i-block {
    display: inline-block;
}

.d-inline {
    display: inline;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* Overflow
   ========================================================================== */
.overflow-hidden {
    overflow: hidden;
}
