// ==========================================================================
// # FORMS GENERAL
// ==========================================================================

.wpforms-container,
.wpforms-container-full {
    .wpforms-form {
        .wpforms-field-container {
            .wpforms-field {
                padding: 8px 0; 
                
                .wpforms-field-label {
                    @extend .f-text-bold;
                    margin-bottom: 8px;
                    font-size: 1.8rem;
                }

                input,
                textarea {
                    border: 1px solid transparent;
                    padding: 12px;
                    font-size: 18px;
                    border-radius: 0;

                    &.wpforms-error {
                        border: 1px solid $ct-red;
                    }
                }
            
                input {
                    min-height: 53px;
                    line-height: 2;
                    color: $ct-blue;
                    
                    @include bp(xsmall) {
                        line-height: 1.4;
                    }
                }
            
                textarea {
                    height: 120px;
                    resize: none;
                    line-height: 1.5;
                    
                    @include bp(xsmall) { 
                        height: 160px;
                    }
                }

                input:focus,
                textarea:focus {
                    border: 1px solid $cb-blue;
                    outline: 0;
                }

                .wpforms-required-label {
                    @extend .f-text-bold;
                    color: $ct-red;
                }

                .wpforms-error {
                    margin-top: 3px;
                }
            }
        }
    
        .wpforms-submit-container {
            padding: 20px 0 0 0 !important;

            .wpforms-submit {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: $cbg-blue-2;
                border: 0;
                border-radius: $btn-radius;
                color: $ct-white;
                font-size: 1.6rem;
                font-family: $heading-semibold;
                line-height: 1;
                text-align: center;
                max-width: 480px;
                min-height: 45px;
                overflow: hidden;
                padding: 12px 25px;
                transition: $global-transition;
                cursor: pointer;

                @include bp(large) {
                    font-size: 1.8rem;
                    min-height: 50px;

                    &:hover {
                        border: 0;
                        background-color: $cbg-blue;
                        color: $ct-white;
                    }
                }


                &.u-btn--white {
                    color: $ct-blue;
                    background-color: $cbg-white;

                    @include bp(large) {
                        &:hover {
                            color: $ct-blue;
                            background-color: $cbg-blue-5;
                        }
                    }
                }
            }
        }
    }
}